<% if @projects.any? %>
	<% @projects.each do |project| %>
		<h2> <%= link_to project.name, project_path(project) %> </h2>
		<%= link_to "edit #{project.name}", edit_project_path(project) %>
		<%= link_to "delete #{project.name}", project_path(project), method: :delete %>
	<% end %>
<% else %>
	no projects yet!
<% end %>

<%=link_to "add a project", new_project_path %>